/* ===== One Column Layout ===== */

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--color-bg);
    position: relative;
}

/* ===== Header ===== */
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    background: var(--color-bg);
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(44, 51, 73, 0.1);
}


/* ===== Footer ===== */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
