.loader {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loader::before {
  content: "";
  width: 100%;
  height: 5px;
  background: var(--color-primary);
  opacity: 0.3;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
}

/* 正方形样式 */
.square::after {
  border-radius: 4px;
  animation: jump7456Square 0.5s linear infinite;
}

/* 圆形样式 */
.circle::after {
  border-radius: 50%;
  animation: jump7456Circle 0.5s linear infinite;
}

@keyframes jump7456Square {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes jump7456Circle {
  15% {
    border-bottom-right-radius: 50%;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}
